# ignore API documents
APIKeys.txt
Product.json
product-service.zip
NaverShop.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore configurations
Keycloak-config
OAuth2Tokens
/identity-service/src/main/resources/application-jwt.yaml
