server:
  port: 5001

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/subscription_service
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: igh9410
    password: Rjsgur94!
  jpa:
    hibernate:
      ddl-auto: update
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

