server:
  port: 0
logging:
  level:
    org.springframework.web: TRACE
    org.hibernate: "error"

spring:
  application:
    name: product-service
  profiles:
    include: naver
  data:
    # MongoDB Configuration
    mongodb:
      host: localhost
      port: 27017
      database: Java
    # Redis Configuration
    redis:
      database: 0
      host: localhost
      port: 6379

  # Kafka Configuration
  kafka:
    bootstrap-servers: localhost:9092



eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8070/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}



